html {
  font-size: 62.5%;
  box-sizing: border-box;

  *, *::before, *::after {
    box-sizing: inherit;
  }

  * {
    margin: 0;
    padding: 0;
  }
}

body {
  transition: opacity 0.4s ease-in;

  &.no-scroll {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}